<section class="productCategory py-5 mb-5">
<h4 class="text-uppercase text-center mt-5 pt-3 mb-5">product category</h4>
<div class="d-flex container justify-content-evenly product-categories">
<div class="category-left me-4 w-50">
  <div class="position-relative category-card">
  <img class="w-100 mb-4" src="../../assets/images/shop/category/category-1.jpg" alt="category-1">
  <div class="position-absolute top-0 start-0 h-100 w-100 category-slider p-4">
    <h4>Clothes Sales</h4>
    <p>Shop New Season Clothing</p>
  </div>
</div>
<div class="position-relative category-card">
  <img class="w-100 position-relative" src="../../assets/images/shop/category/category-2.jpg" alt="category-2">
  <div class="position-absolute top-0 start-0 h-100 w-100 category-slider p-4">
    <h4>Smart Casuals</h4>
    <p>Get Wide Range Selection</p>
  </div>
  </div>
</div>
<div class="category-right w-50">
  <div class="position-relative category-card h-100">
  <img class="w-100 h-100 position-relative" src="../../assets/images/shop/category/category-3.jpg" alt="category-3">
  <div class="position-absolute top-0 start-0 h-100 w-100 category-slider p-4">
    <h4>Jewellery</h4>
    <p>Special Design Comes First</p>
  </div>
  </div>
</div>
</div>
</section>