<footer class="footer py-5">
  <div class="footer-icons mb-4">
    <ul class="d-flex list-unstyled justify-content-center">
      <li class="pe-5"><a routerLink="" class="nav-link"> <i class="fa-brands fa-facebook-f"></i></a></li>
      <li class="pe-5"><a routerLink="" class="nav-link"><i class="fa-brands fa-square-instagram"></i></a></li>
      <li class="pe-5"><a routerLink="" class="nav-link"><i class="fa-brands fa-twitter"></i></a></li>
      <li><a routerLink="" class="nav-link"><i class="fa-brands fa-pinterest"></i></a></li>
    </ul>
  </div>
  <div class="footer-links pt-2">
    <ul class="d-flex list-unstyled justify-content-center text-uppercase">
      <li class="pe-5"><a routerLink="" class="nav-link">contact</a></li>
      <li class="pe-5"><a routerLink="" class="nav-link">shop</a></li>
      <li class="pe-5"><a routerLink="" class="nav-link">pricing</a></li>
      <li><a routerLink="" class="nav-link">privacy policy</a></li>
    </ul>
  </div>
  <div class="copyRight text-center my-4">
    <p>Copyright ©2021, Designed by Themefisher</p>
  </div>
</footer>
