<section class="subscribe text-center">
  <div class="subscribe-top d-flex flex-column align-items-center pt-5 mb-5 pb-5 container">
    <h5 class="text-uppercase pt-5 mt-5 mb-3">Subscribe to Newsletter</h5>
    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat,<br>
      facilis numquam impedit ut sequi. Minus facilis vitae excepturi sit laboriosam.</p>
      <div class="input-group subscribe-input mb-3">
        <input type="text" class="form-control" placeholder="Enter Your Email Address" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-dark p-3 text-uppercase" type="button" id="button-addon2">Subscribe Now!</button>
      </div>
  </div>
  <div class="subscribe-bot py-5">
    <h5 class="text-uppercase my-5 py-5">View us on Instagram</h5>
  </div>
</section>
