<section class="forgotPassword my-5 py-5">
  <div class="container forgot_password_form py-5 text-center">
    <div class="form-head">
      <img class="mb-5" src="../../assets/images/logo.png" alt="logo">
      <h2 class="text-uppercase mb-5">welcome back</h2>
      <p class="text-start text-secondary px-3">Please enter the email address for your account. A verification code will be sent to you. Once you have received the verification code, you will be able to choose a new password for your account.</p>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">



      <div class="row">
        <div class="col-md-11 mx-auto text-start">
          <input class="form-control mb-3" type="email" placeholder="Email" formControlName="email">
          <p *ngIf="forgotPasswordForm.get('email')?.hasError('required')&&forgotPasswordForm.get('email')?.touched" class="text-start" class="alert py-1 alert-danger">
            Email is Required!
          </p>
          <p *ngIf="forgotPasswordForm.get('email')?.hasError('pattern')&&forgotPasswordForm.get('email')?.touched" class="text-start" class="alert py-1 alert-danger">
            Invalid Email Format!
          </p>
        </div>
      </div>
      <button type="submit" class="btn btn-dark text-center px-5 py-3 text-uppercase mb-3" [disabled]="!forgotPasswordForm.valid || !forgotPasswordForm.dirty">request password reset</button>
    </form>
    <p><a routerLink="/login" class="text-dark text-decoration-none">Back to log in</a></p>
  </div>
</section>