<section class="shop">
  <div class="section-top py-4 mt-3 mb-5">
    <div class="container">
      <h2>Shop</h2>
      <p class="ms-2"><a class="text-decoration-none text-dark" routerLink="/home">Home</a> <span class="text-secondary"> / Shop</span></p>
    </div>
    <select class="mx-auto form-select my-4" aria-label="Default select example" [(ngModel)]="selectedCategory" (change)="onCategoryChange($event)">
      <option value="category" selected disabled>Choose a Category</option>
      <option *ngFor="let category of productsCategories" value={{category}}>{{category}}</option>

    </select>
  </div>
  <div class="section-bot container py-5">

    <div class="row row-gap-4">
      <div
        class="col-md-4 col-sm-12 shop-card text-center d-flex flex-column align-items-stretch"
        *ngFor="let product of shopProducts"
        appL
      >
        <div class="position-relative h-100">

          <img class="h-100 w-100" [src]="product.images[0]" alt="" />
          <div
            class="position-absolute shop-card-slider top-0 start-0 h-100 w-100 d-flex justify-content-center align-items-end"
          >
            <ul class="d-flex list-unstyled">
              <li class="me-1 px-4 py-3" (click)="showDetails(product)">
                <i class="fa-solid fa-magnifying-glass"></i>
              </li>
              <li class="me-1 px-4 py-3"><i class="fa-solid fa-heart"></i></li>
              <li class="px-4 py-3">
                <i class="fa-solid fa-cart-shopping"></i>
              </li>
            </ul>
          </div>
          <span
            class="position-absolute bg-dark text-light top-0 end-0 px-3 py-1 m-2"
            *ngIf="product.discountPercentage > 15.5"
            >Sale</span
          >
        </div>
        <div class="flex-grow-1">
          <h5 class="pt-3">{{ product.title }}</h5>
          <p>${{ product.price }}</p>
        </div>

      </div>
    </div>
  </div>
  <div *ngIf="showProductDetails" class="popup-overlay">
    <div class="popup-content">
      <app-viewproduct [product]="selectedProduct"></app-viewproduct>
      <a (click)="closeDetails()" class="position-absolute top-0 end-0 m-3 text-decoration-none close-view-btn"><i  class="fa-solid fa-xmark lg"></i></a>
    </div>
  </div>
</section>
